body{
    margin: 0px; background-image: url('zielony.jpg');
    background-attachment: fixed;
    background-size: cover;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
header{
    border: 5px solid palevioletred;
    border-radius: 60%;
    padding:20px;
    margin: 20px;
    background-color: hotpink;
    color: white;
    text-align:center;
}
.text-panel{
    text-align:center;
    margin: 3px;
    padding: 10px;
    background-color: pink;
    border:3px solid palevioletred;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
} 
.link-button{
    display: inline-block;
    border-bottom: 5px solid palevioletred;
    padding: 10px;
    margin: 5px;
    background-color: hotpink;
    color: cornsilk;
    text-decoration: none;
     transition-duration: 0.5s;
}
.link-button:hover{
    background-color: lightcoral;
    transition-duration: 0.5s;
    transform: translate(5px)
}

footer{
    text-align: center;
    background-color: hotpink;
    color: white;
}
button{
    margin: 3px;
    padding: 3px;
    background-color: rgb(165, 255, 164);
    color: rgb(0, 89, 27);
    border: none;
     border-bottom: 5px solid rgb(102, 198, 79);
    
}

h3{
    color: rgb(0, 138, 74);
}
.ludzie img{

    height: 600px;
    width: 500px;
}
main{

    flex-wrap: wrap;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 30px;
    padding-bottom: 70px;
}

.zarty{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 0, 128);
    text-align: center;
    font-size:x-large 
    
}
.nap {
    margin: 3px;
    padding: 3px;
    background-color: rgb(165, 255, 164);
    color: rgb(0, 89, 27);
    border: none;
     border-bottom: 5px solid rgb(102, 198, 79);
     background-color: #2980b9;
     transform: translateY(-3px);
}


.txtpanel12{
    margin: 3px;
    padding: 10px;
    background-color: pink;
    border:3px solid palevioletred;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
} 

.stronaglwn{ 
    position: fixed;
    bottom: 0;
  margin: 20px;
    padding: 5px;
    display: flex;
    justify-self: center;
    background-color: hotpink;
color: white;
border: none;
transition: 0.2s;
}
.stronaglwn:hover{
     background-color: lightcoral;
    transition-duration: 0.5s;
    transform: translate(5px)
}
.video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#jasiek{
flex-wrap: wrap;
display: flex;
justify-self: center;
height: 500px;
}
